/* all body elements */
body {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3D3D54;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #74baff;
}

/* all header elements */
header {
  color: #00b144;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #010102;
}

header h1 {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

header img {
  width: 3%;
  height: 3%;
  padding: 1%;
  margin-top: auto;
  margin-bottom: auto;
}

/* all footer elements */
footer {
  color: #00b144;
  border-radius: 5px;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-color: #525252;
  background-color: #010102;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

footer a{
  color: #00b144;
}
footer a:hover{
  color: #00702b;
}

/* header/navbar elements box */
#page-top {
  border-radius: 5px;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-color: #525252;
  background-color: #010102;
}

/* nav bar styling */
#nav_bar {
  background-color: #181827;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

#nav_btns {
  width: 99%;
  display: flex;
  justify-content: space-evenly;
}

#nav_btns a {
  padding: 0.5%;
  background-color: #0b0b13;
  color: #74baff;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
}

#nav_btns a:hover {
  background-color: #141422;
}

#nav_btns .current {
  background-color: #272F5A;
}

/* main styling */
.mainBox {
  border-radius: 5px;
  background-color: #282838;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-color: #525252;
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
}

.mainBox h3 {
  text-align: center;
}

.sideLeft {
  width: 17%;
  padding-left: 1%;
  margin-right: 2%;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #484864;
  padding-top: 1%;
}

.sideLeft a {
  text-decoration: none;
}

.sideRight {
  width: 17%;
  margin-left: 2%;
  padding-right: 1%;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #484864;
  padding-top: 1%;
}

.sideRight a {
  text-decoration: none;
}

.subBox {
  width: 58%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* honesty page styling */

.browserSupport {
  text-align: center;
}

/* product page styling */

#submit {
    border-radius: 5px;
    background-color: #0b0b13;
    color: #fff;
    padding: 0.7%;
    font-family: inherit;
    text-decoration: none;
}

#submit:hover{
    background-color: #141422;
}

#reset {
    border-radius: 5px;
    background-color: #0b0b13;
    color: #fff;
    padding: 0.7%;
    font-family: inherit;
    text-decoration: none;
}

#reset:hover{
    background-color: #141422;
}

/* reflection page styling */
/* background image is from unsplash.com https://unsplash.com/photos/yjWjLmv13FI */
#reflectionLeft {
  background-image: url(./fernando-santander-yjWjLmv13FI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.03;
}

#reflectionRight {
  background-image: url(./fernando-santander-yjWjLmv13FI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
  opacity: 0.02;
}

#reflectionRight:hover 
{
  transform: scaleX(1);
}

#reflectionLeft:hover 
{
  transform: scaleX(-1);
}